{{ msg . "category.new.title" | set . "title" }}
{{ msg . "category.new.title" | set . "panelTitle" }}

{{ append . "moreStyles" "css/category.css" }}
{{ append . "moreScripts" "dist/js/category.js" }}

{{template "header.html" .}}

{{ template "flash.html" . }}

<link rel="import" href="/public/bower_components/iron-icons/image-icons.html">

<section id="category-image-container">
	<label for="category-image" id="camera-icon-container">
		<paper-icon-button id="camera-icon" icon="image:camera-alt"></paper-icon-button>
	</label>
</section>

<section id="category-details">
	<input type="text" name="heading" id="category-heading" class="transparent" placeholder="{{ msg . "category.heading.placeholder" }}">
	<input type="text" name="description" id="category-description" class="transparent" placeholder="{{ msg . "category.description.placeholder" }}">

	<input type="file" id="category-image" style="display: none;">
</section>

{{template "footer.html" .}}