{{ set . "title" "Untitled" }}
{{ set . "panelTitle" "Untitled" }}

{{ append . "moreStyles" "css/new-category.css" }}

{{template "header.html" .}}

{{ template "flash.html" . }}

<link rel="import" href="/public/bower_components/iron-icons/image-icons.html">

<section id="new-category">
	<label for="category-image" id="camera-icon-container">
		<paper-icon-button id="camera-icon" icon="image:camera-alt"></paper-icon-button>
	</label>
	<input type="text" name="heading" class="transparent" placeholder="Heading">
	<input type="text" name="description" class="transparent" placeholder="Optional Description">

	<input type="file" id="category-image" style="display: none;">
</section>

<script type="text/javascript">

</script>

{{template "footer.html" .}}