#contributor-form {
	margin: 0 auto;
	width: 50%;
}

#contributor-form .form-actions {
	margin: 2em;
	text-align: center;
}

#contributor-form .hidden {
	display: none;
}

#contributor-form .form-inputs {
	padding: 8px 0;
}

#contributor-form .form-inputs label {
	color: #757575;
	font-family: "Roboto","Noto",sans-serif;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.011em;
	line-height: 20px;
	display: block;
	text-align: left;
	width: 100%;
}

#contributor-form .form-inputs select {
	display: block;
	margin: 8px 0;
}