@import url(http://fonts.googleapis.com/css?family=EB+Garamond|PT+Sans+Caption:700);

input#post-title {
	border: 0;
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 2em;
	height: 1.5em;
	padding: 5px;
	width: 100%;
}

input#post-title:focus {
	outline: none;
}

#post-creator {
	height: 100%;
	max-width: 70%;
	margin: 0 auto;
}

medium-editor-polymer {
	font-family: 'EB Garamond', serif;
	font-size: 1.25em;
	line-height: 1.5em;
}