{{ set . "title" .post.Title }}
{{ set . "panelTitle" .post.Title }}

{{ append . "moreStyles" "css/post-editor.css" }}
{{ append . "moreScripts" "dist/js/post-editor.js" }}

{{template "header.html" .}}

{{ template "flash.html" . }}

    <link rel="import" href="/public/bower_components/medium-editor-polymer/medium-editor-polymer.html">
    <link rel="import" href="/public/bower_components/iron-icons/image-icons.html">

    <section id="post-creator">
        <section id="post-heading" style="background-image: url({{ .post.CoverImage }})">
            <label for="cover-image" id="cover-image-container">
                <paper-icon-button id="camera-icon" icon="image:camera-alt"></paper-icon-button>
                Cover Image
            </label>

            <input type="text" id="post-title" class="title" name="post-title" placeholder="Title" value="{{ .post.Title }}">
        </section>

        <input type="hidden" id="post-id" name="post-id" value="{{ .post.ID }}">
        <input type="hidden" id="post-publish" name="post-publish" value="{{ .post.Published }}">
        <input type="hidden" id="post-category-old" name="post-category-old" value="{{ .cat.ID }}">
        <input type="hidden" id="cover-image-url">

        <input type="file" id="cover-image" style="display: none;">

        <medium-editor-polymer id="post-editor"
            upload-url="{{ url "Asset.ImageUpload" }}" 
            upload-method="PUT" 
            upload-field-name="image">
            {{ raw .post.Content }}
        </medium-editor-polymer>

        <div id="category-wrapper">
            <label for="post-category">{{ msg . "post.form.category" }}</label>
            <select id="post-category" name="post-category"></select>
        </div>
    </section>

{{template "footer.html" .}}