{{ set . "title" "Untitled" }}
{{ set . "panelTitle" "Untitled" }}

{{ append . "moreStyles" "css/post-editor.css" }}
{{ append . "moreScripts" "dist/js/post-editor.js" }}

{{template "header.html" .}}

{{ template "flash.html" . }}

    <link rel="import" href="/public/bower_components/medium-editor-polymer/medium-editor-polymer.html">

    <section id="post-creator">
	    <div id="category-wrapper">
	    	<label for="post-category">{{ msg . "post.form.category" }}</label>
	        <select id="post-category" name="post-category"></select>
	    </div>

        <input type="text" id="post-title" name="post-title" placeholder="Title">

        <medium-editor-polymer id="post-editor"
            upload-url="{{ url "Asset.ImageUpload" }}" 
            upload-method="PUT" 
            upload-field-name="image">
        </medium-editor-polymer>
    </section>

{{template "footer.html" .}}