{{ set . "title" "Login" }}
{{ set . "panelTitle" "Login" }}

{{ template "header.html" . }}

    <link rel="import" href="/public/bower_components/iron-form/iron-form.html">
    <link rel="import" href="/public/bower_components/iron-input/iron-input.html">

    <link rel="import" href="/public/bower_components/paper-input/paper-input.html">

    <link rel="import" href="/public/bower_components/gold-email-input/gold-email-input.html">

    <form action="{{ url "App.ProcessLogin" }}" method="POST" id="login-form">
        <h2>{{ msg . "login.title" }}</h2>

        <gold-email-input required 
                          auto-validate 
                          error-message="{{ msg . "login.form.email.error" }}"
                          value="{{ .flash.username }}"
                          name="email"
                          label="{{ msg . "login.form.email" }}"></gold-email-input>

        <paper-input-container auto-validate>
            <label>{{ msg . "login.form.passw" }}</label>
            <input is="iron-input" type="password" auto-validate required name="password">
            <paper-input-error>{{ msg . "login.form.passw.error" }}</paper-input-error>
        </paper-input-container>

        <div class="form-elems">
            <input is="iron-input" type="checkbox" id="remember-me">
            <label for="remember-me">{{ msg . "login.form.remember" }}</label>
        </div>

        <div class="form-actions">
            <input type="submit" class="hidden"> <!-- So that user can press Enter and submit form -->
            <paper-button raised>{{ msg . "login.action.clear" }}</paper-button>
            <paper-button raised class="process" onclick="clickHandler(event)">{{ msg . "login.action.submit" }}</paper-button>
            <script type="text/javascript">
                function clickHandler(event) {
                    document.getElementById("login-form").submit();
                }
            </script>
        </div>
    </form>

{{ template "footer.html" . }}