{{ template "header.html" . }}

    <link rel="import" href="/public/bower_components/iron-form/iron-form.html">
    <link rel="import" href="/public/bower_components/iron-input/iron-input.html">

    <link rel="import" href="/public/bower_components/paper-input/paper-input.html">
    <link rel="import" href="/public/bower_components/paper-button/paper-button.html">

    <link rel="import" href="/public/bower_components/gold-email-input/gold-email-input.html">

    <form is="iron-form" action="{{ url "App.ProcessLogin" }}" method="POST" id="login-form">
        <h2>Selamat Datang di Obrolan Subuh!</h2>

        <gold-email-input required 
                          auto-validate 
                          error-message="Masukkan alamat email yang valid"
                          value="{{ .flash.username }}"
                          label="Alamat Email"></gold-email-input>

        <paper-input-container auto-validate>
            <label>Password</label>
            <input is="iron-input" type="password" auto-validate required>
            <paper-input-error>Password harus diisi</paper-input-error>
        </paper-input-container>

        <div class="form-elems">
            <input is="iron-input" type="checkbox" id="remember-me">
            <label for="remember-me">Ingat Saya?</label>
        </div>

        <div class="form-actions">
            <paper-button raised>Bersihkan</paper-button>
            <paper-button raised class="process" type="submit">Login</paper-button>
        </div>
    </form>

{{ template "footer.html" . }}