{{if .flash.success}}
    <paper-toast duration="10000" 
                 text="{{ .flash.success }}"
                 visible="true">
        <span id="label" class="style-scope paper-toast">
        </span>
    </paper-toast>
{{end}}

{{if or .errors .flash.error}}
    <paper-toast duration="10000" 
                 text="{{ .flash.error }}"
                 visible="true"
                 class="error">
        <span id="label" class="style-scope paper-toast">
        </span>
    </paper-toast>

    {{ range .errors }}
        <paper-toast duration="3000" 
                     text="{{ . }}"
                     class="error">
            <span id="label" class="style-scope paper-toast">
            </span>
        </paper-toast>
    {{ end }}
{{end}}

{{ if or .errors .flash.error .flash.success }}
    <script type="text/javascript">
        window.addEventListener('WebComponentsReady', function(e) {
            var toasts = document.querySelectorAll("paper-toast");
            var len    = toasts.length;

            for (var i = 0; i < len; i++) {
                toasts.item(i).show();
            }
        });
    </script>
{{ end }}