{{if .flash.success}}
    <paper-toast duration="10000" 
                 text="{{ .flash.success }}"
                 visible="true">
        <span id="label" class="style-scope paper-toast">
            {{ .flash.success }}
        </span>
    </paper-toast>
{{end}}

{{if or .errors .flash.error}}
    <paper-toast duration="10000" 
                 text="{{ .flash.error }}"
                 visible="true"
                 class="error">
        <span id="label" class="style-scope paper-toast">
            {{ .flash.error }}
        </span>
    </paper-toast>

    {{ range .errors }}
        <paper-toast duration="3000" 
                     text="{{ . }}"
                     visible="true"
                     class="error">
            <span id="label" class="style-scope paper-toast">
                {{ . }}
            </span>
        </paper-toast>
    {{ end }}
{{end}}
