<paper-toolbar id="logo-container">
    <a href="{{ url "App.Index" }}" id="logo">ObrolanSubuh.com</a>
</paper-toolbar>

{{ if .session.user }}
    <link rel="import" href="/public/bower_components/iron-image/iron-image.html">

	<div id="contributor-info">
		<iron-image id="contributor-photo" 
		            class="round-imgs" 
		            sizing="cover"
		            fade
		            src="{{ .session.userphoto }}"></iron-image>
		<span id="contributor-name">{{ .session.username }}</span>
		<span id="contributor-email">{{ .session.user }}</span>
	</div>

	<nav role="navigation" id="left-menu">
		<div class="menu-item">
			<a href="{{ url "App.Index" }}">
			    <span class="menu-text">Dashboard</span>
		    </a>
		</div>
		<div class="menu-item">
		    <a href="{{ url "Post.List" }}">
			    <span class="menu-text">Post List</span>
		    </a>
		</div>
		<div class="menu-item">
		    <a href="{{ url "Post.New" }}">
			    <span class="menu-text">New Post</span>
		    </a>
		</div>
		<div class="menu-item">
		    <a href="{{ url "Profile.Edit" }}">
			    <span class="menu-text">Edit Profile</span>
		    </a>
		</div>
		<div class="menu-item">
			<a href="{{ url "App.Logout" }}">
			    <span class="menu-text">Logout</span>
		    </a>
		</div>
	</nav>
{{ end }}