<nav class="light-blue darken-4" role="navigation">
	<div class="nav-wrapper container">
		<a href="" data-activates="slide-out" class="button-collapse top-nav full"><i class="mdi-navigation-menu"></i></a>
		<a href="#" id="logo-container" class="brand-logo center">Obrolan Subuh</a>
	</div>
</nav>

<ul id="slide-out" class="side-nav fixed" style="left: 0px;">
	<li class="logo">
		<a href="" id="logo-container" class="brand-logo">OborolanSubuh</a>
	</li>
	<li><a href="">Dashboard</a></li>
	<li><a href="">New Post</a></li>
	<li><a href="{{ url "App.Logout" }}">Logout</a></li>
</ul>