{{ set . "title" "Change Password" }}
{{ set . "panelTitle" "Change Password" }}

{{ append . "moreStyles" "css/edit-password.css" }}

{{template "header.html" .}}

{{ template "flash.html" . }}

<link rel="import" href="/public/bower_components/iron-form/iron-form.html">
<link rel="import" href="/public/bower_components/iron-input/iron-input.html">

<link rel="import" href="/public/bower_components/paper-input/paper-input.html">

<form action="{{ url "Profile.UpdatePassword" }}" method="POST" id="password-form">
    <paper-input-container auto-validate>
        <label>{{ msg . "profile.form.password" }}</label>
        <input is="iron-input" 
               type="password" 
               auto-validate 
               required 
               name="currentPassword" >
        <paper-input-error>{{ msg . "profile.form.password.error" }}</paper-input-error>
    </paper-input-container>

    <paper-input-container auto-validate>
        <label>{{ msg . "profile.form.newpassw" }}</label>
        <input is="iron-input" 
               type="password" 
               auto-validate 
               required 
               name="newPassword" >
        <paper-input-error>{{ msg . "profile.form.password.error" }}</paper-input-error>
    </paper-input-container>

    <paper-input-container auto-validate>
        <label>{{ msg . "profile.form.retpassw" }}</label>
        <input is="iron-input" 
               type="password" 
               auto-validate 
               required 
               name="retypePassword" >
        <paper-input-error>{{ msg . "profile.form.password.error" }}</paper-input-error>
    </paper-input-container>

    <div class="form-actions">
        <input type="submit" class="hidden"> <!-- So that user can press Enter and submit form -->
        <paper-button raised class="process" onclick="clickHandler(event)">
             {{ msg . "profile.form.password.submit" }}
        </paper-button>
        <script type="text/javascript">
            function clickHandler(event) {
                document.getElementById("password-form").submit();
            }
        </script>
    </div>
</form>

{{template "footer.html" .}}