{{ msg . "profile.edit.title" | set . "title" }}
{{ msg . "profile.edit.title" | set . "panelTitle" }}

{{ append . "moreStyles" "css/edit-profile.css" }}

{{template "header.html" .}}

{{ template "flash.html" . }}

<link rel="import" href="/public/bower_components/iron-form/iron-form.html">
<link rel="import" href="/public/bower_components/iron-input/iron-input.html">

<link rel="import" href="/public/bower_components/paper-input/paper-input.html">
<link rel="import" href="/public/bower_components/paper-input/paper-input-char-counter.html">
<link rel="import" href="/public/bower_components/paper-input/paper-textarea.html">

<link rel="import" href="/public/bower_components/gold-email-input/gold-email-input.html">

<form action="{{ url "Profile.Update" }}" method="POST" id="profile-form" enctype="multipart/form-data">
    <section class="form-inputs">
		<section id="profile-data">
	        <paper-input-container auto-validate>
	            <label>{{ msg . "profile.form.name" }}</label>
	            <input is="iron-input" 
	                   type="text" 
	                   auto-validate 
	                   required 
	                   name="name" 
	                   value="{{ .contributor.Name }}">
	            <paper-input-error>{{ msg . "profile.form.name.error" }}</paper-input-error>
	        </paper-input-container>

	        <gold-email-input required 
	                          auto-validate 
	                          error-message="{{ msg . "profile.form.email.error" }}"
	                          value="{{ .contributor.Email }}"
	                          name="email"
	                          label="{{ msg . "profile.form.email" }}"></gold-email-input>

	        <paper-textarea label="{{ msg . "profile.form.about" }}" 
	                         name="about"
	                         char-counter 
	                         maxlength="500"
	                         value="{{ .contributor.About }}">
	        </paper-textarea>
	    </section>
	    <aside id="profile-picture">
	        <figure id="current-profile-picture">
				<iron-image class="round-imgs" 
				            sizing="cover"
				            fade
				            src="{{ .contributor.Photo }}"></iron-image>
	             <figcaption>{{ msg . "profile.form.photo.current" }}</figcaption>
	        </figure>
	        <paper-input-container>
	            <label>{{ msg . "profile.form.photo" }}</label>
	            <input is="iron-input" type="file" name="photo">
	            <paper-input-error>DAYUM</paper-input-error>
	        </paper-input-container>
	    </aside>
    </section>

    <div class="form-actions">
        <input type="submit" class="hidden"> <!-- So that user can press Enter and submit form -->
        <paper-button raised class="process" onclick="clickHandler(event)">
             {{ msg . "profile.form.submit" }}
        </paper-button>
        or
        <a href="{{ url "Profile.ChangePassword" }}" class="button-link">
	        <paper-button raised>
					        Change Password
	        </paper-button>
        </a>

        <script type="text/javascript">
            function clickHandler(event) {
                document.getElementById("profile-form").submit();
            }
        </script>
    </div>
</form>

{{template "footer.html" .}}